<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="settings-content">
    <!-- Users -->
    <app-add-users [started]="started"></app-add-users>

    <!-- Fast Settings -->

    <!-- Advanced Settings -->
  </div>
</ion-content>

<!-- Actions -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="solid" (click)="startGame()" [disabled]="started">
        <ion-icon slot="start" name="caret-forward-circle-outline"></ion-icon>
        Start
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button fill="solid" (click)="logOut()">
        <ion-icon slot="end" name="log-out"></ion-icon>
        Log out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>