<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Choose categories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Choose categories</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="dividing-container">
    <div *ngFor="let cat of categories">
      <div class="category">
        <ion-list>
          <ion-item>
            <ion-select label={{cat.name}} placeholder="Select user" (ionChange)="updateGameCategory($event,cat)">
              <ion-select-option *ngFor="let user of users" [value]="user">{{ user.name }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="solid" (click)="saveAllCategories()" [disabled]="!categoriesValidated">
        <ion-icon slot="end" name="save"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>