#init-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    #init-btns {
        width: 50%;
        height: 50%;

        ion-button {
            width: 100%;
        }
    }
}