<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/thefloor/settings">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/thefloor/board">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Board</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/thefloor/duel">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Duel</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>