<ion-tabs>

  <div class="tabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="settings" href="/settings">
        <ion-icon aria-hidden="true" name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="board" href="/board">
        <ion-icon aria-hidden="true" name="grid"></ion-icon>
        <ion-label>Board</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button tab="duel" href="/duel">
        <ion-icon aria-hidden="true" name="skull"></ion-icon>
        <ion-label>Duel</ion-label>
      </ion-tab-button> -->
    </ion-tab-bar>
  </div>

</ion-tabs>