    .game-board {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(5, 1fr);
        gap: 10px; // Space between tiles
        width: 100%;
        height: calc(100% - 4rem);
        padding: 10px 10px 0 10px; // Optional padding around the grid
        box-sizing: border-box;
    }

    .game-tile {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff; // Text color
        font-size: 1rem;
        font-weight: bold;
        border: 3px solid white; // Optional border for tiles
        border-radius: 5px; // Rounded corners
        transition: all 0.3s ease-in-out; // Smooth resize and hover effect

        // &:hover {
        //     transform: scale(1.1);
        //     background-color: lighten(#ccc, 10%);
        // }

        /* Only allow hover for hoverable tiles */
        &.hoverable:hover {
            transform: scale(1.1);
            background-color: lighten(#ccc, 10%);
            cursor: pointer;
        }

        /* Disabled hover by default */
        &:not(.hoverable) {
            cursor: not-allowed;
        }

        &.clickable {
            cursor: pointer;
            pointer-events: auto;
        }
    }

    .floor-actions {
        max-height: 4rem;
        height: 4rem;
        padding: 0 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .floor-btn {
            transition: all 0.3s ease-in-out;

            &:hover.green-btn {
                background-color: green;
            }
            &:hover.red-btn {
                background-color: red;
            }
        }

        .floor-actions-info {
            display: flex;
        }
    }