<div id="create-game-container">
  <div id="form-container">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Number of categories</ion-label>
      <ion-input type="number" min="10" max="50" [(ngModel)]="categories"></ion-input>
    </ion-item>

    <ion-button class="btn" (click)="addGame()">Add game</ion-button>
    <ion-button class="btn" (click)="goBack()">Go back</ion-button>
  </div>
</div>